@mixin accommo-photo($radius) {
  width: 272px;
  height: 238px;
  border-radius: ($radius);
  object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.accommo-container {
  width: 1120px;
  height: 100%;
  margin: 0 auto;

  .no-underline {
    text-decoration: none;
    color: black;
  }

  .accommo-title {
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 32px 0;

    &::before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      color: var(--color-gray-5);
      background-image: url(./assets/leftarrow.svg);
      margin-right: 13px;
      cursor: pointer;
    }
  }
  .accommo-photo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 8px;
    column-gap: 8px;
    margin: 0 auto 24px;

    .accommo-photo1 {
      grid-area: span 2 / span 2;
      width: 560px;
      height: 483px;
      border-radius: 12px 0 0 12px;
      object-fit: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    .accommo-photo2 {
      @include accommo-photo(0);
    }
    .accommo-photo4 {
      @include accommo-photo(0);
    }
    .accommo-photo3 {
      @include accommo-photo(0 12px 0 0);
    }
    .accommo-photo5 {
      @include accommo-photo(0 0 12px 0);
    }
  }
  .accommo-description-container {
    display: flex;
    width: 1120px;
    margin: 24px 0;
    position: relative;

    .description-wrapper {
      line-height: 24px;
      width: 85%;

      .description-title {
        font-size: 1.3rem;
        font-weight: 600;
      }

      .description-type {
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-gray-5);
      }

      .description-textbody {
        font-size: 1rem;
        font-weight: 400;
        margin-top: 16px;
      }
    }

    .description-star {
      display: flex;
      position: absolute;
      right: 0;

      .star-icon {
        width: 12px;
        height: 12px;
        background-image: url(./assets/staricon.svg);
      }

      .star-rate {
        font-size: 1rem;
        font-weight: 400;
        margin-left: 0.5rem;
      }
    }
  }
}
